@import "../../assets/scss/main.scss";
.not-found {
    width: 100vw;
    height: 100vh;
    padding-top: 6vh;

    >div {

        >text {
            background-color: rgba(252, 252, 252,.8);
            border-radius: 16px;
            padding: 1.5rem 0rem;
            box-sizing: border-box;
            color: #333333;
        }
    }
}